# Capstone Project Dataset EDA

### Pokemon Dataset Exploration

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
try:
        # Assuming the CSV is in the same directory or you provide the correct path
        pokemon_df = pd.read_csv("/Users/zinkii/Documents/I_am_a_SWE_MLE/Bootcamps/2025_AI-ML_Bootcamp_Global-UMass/Assignments/Datasets/kaggle_pokemon-combats/pokemon.csv")
except FileNotFoundError:
    print("Error: 'Pokemon.csv' not found. Make sure it's in the right directory.")
    print("You can download it from: https://www.kaggle.com/datasets/terminus7/pokemon-challenge/data")

In [12]:
pokemon_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False