# Capstone Project: Pokemon Match-Victory Predictor

In [1]:
import pandas as pd

In [2]:
pokemon_df = pd.read_csv('capstone_datasets/pokemon.csv')
battles_df = pd.read_csv('capstone_datasets/combats.csv')

In [3]:
pokemon_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [4]:
battles_df.head()

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

In [5]:
pokemon_df.isna().sum()

#               0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [6]:
pokemon_df[pokemon_df['Name'].isna()]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
62,63,NaN,Fighting,NaN,65,105,60,60,70,95,1,False

In [7]:
pokemon_df.loc[62, 'Name'] = 'Primeape'

In [8]:
pokemon_df.isna().sum()

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [9]:
pokemon_df[pokemon_df['Name'] == 'Primeape']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
62,63,Primeape,Fighting,NaN,65,105,60,60,70,95,1,False

In [10]:
battles_df.isna().sum()

First_pokemon     0
Second_pokemon    0
Winner            0
dtype: int64

In [11]:
combined = pokemon_df.merge(battles_df, left_on='#', right_on='First_pokemon')
combined.head(20)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,First_pokemon,Second_pokemon,Winner
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,679,679
1,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,687,687
2,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,557,557
3,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,766,766
4,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,153,153
5,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,194,1
6,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,604,604
7,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,285,1
8,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,579,1
9,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,717,717
10,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,381,381
11,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,54,54
12,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,324,1
13,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,385,1
14,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,493,493
15,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,115,115
16,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,351,351
17,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,779,1
18,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,488,488
19,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,503,503

In [12]:
matches_df = battles_df.merge(pokemon_df, left_on='First_pokemon', right_on='#')
matches_df.head()

,First_pokemon,Second_pokemon,Winner,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,266,298,298,266,Larvitar,Rock,Ground,50,64,50,45,50,41,2,False
1,702,701,701,702,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
2,191,668,668,191,Togetic,Fairy,Flying,55,40,85,80,105,40,2,False
3,237,683,683,237,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
4,151,231,151,151,Omastar,Rock,Water,70,60,125,115,70,55,1,False

In [13]:
final_matches_df = matches_df.merge(pokemon_df, left_on='Second_pokemon', right_on='#', suffixes=('_p1', '_p2'))
final_matches_df.head(10)

,First_pokemon,Second_pokemon,Winner,#_p1,Name_p1,Type 1_p1,Type 2_p1,HP_p1,Attack_p1,Defense_p1,...,Type 1_p2,Type 2_p2,HP_p2,Attack_p2,Defense_p2,Sp. Atk_p2,Sp. Def_p2,Speed_p2,Generation_p2,Legendary_p2
0,266,298,298,266,Larvitar,Rock,Ground,50,64,50,...,Grass,Dark,70,70,40,60,40,60,3,False
1,702,701,701,702,Virizion,Grass,Fighting,91,90,72,...,Rock,Fighting,91,129,90,72,90,108,5,True
2,191,668,668,191,Togetic,Fairy,Flying,55,40,85,...,Psychic,NaN,75,75,75,125,95,40,5,False
3,237,683,683,237,Slugma,Fire,NaN,40,40,40,...,Dragon,NaN,77,120,90,60,90,48,5,False
4,151,231,151,151,Omastar,Rock,Water,70,60,125,...,Bug,Rock,20,10,230,10,230,5,2,False
5,657,752,657,657,Joltik,Bug,Electric,50,47,50,...,Steel,Ghost,60,50,150,50,150,60,6,False
6,192,134,134,192,Natu,Psychic,Flying,40,50,45,...,Ice,Psychic,65,50,35,115,95,95,1,False
7,73,545,545,73,Machop,Fighting,NaN,70,80,50,...,Ghost,Dragon,150,100,120,100,120,90,4,True
8,220,763,763,220,Pineco,Bug,NaN,50,65,90,...,Water,NaN,50,53,62,58,63,44,6,False
9,302,31,31,302,Wingull,Water,Flying,40,30,30,...,Electric,NaN,35,55,40,50,50,90,1,False

In [14]:
final_matches_df.columns

Index(['First_pokemon', 'Second_pokemon', 'Winner', '#_p1', 'Name_p1',
       'Type 1_p1', 'Type 2_p1', 'HP_p1', 'Attack_p1', 'Defense_p1',
       'Sp. Atk_p1', 'Sp. Def_p1', 'Speed_p1', 'Generation_p1', 'Legendary_p1',
       '#_p2', 'Name_p2', 'Type 1_p2', 'Type 2_p2', 'HP_p2', 'Attack_p2',
       'Defense_p2', 'Sp. Atk_p2', 'Sp. Def_p2', 'Speed_p2', 'Generation_p2',
       'Legendary_p2'],
      dtype='object')